.portfolio,
.small-portfolio{
    font-family: Rubik Glitch Pop, Arial;
    color: black;
}
.portfolio{
    margin-left: -10px;
}
.small-portfolio{
    margin-right: -4px;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.top-grid-section{
    display: grid;
    grid-template-columns: 1fr;
}

.title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-text{
    margin-top: 75px;
    margin-left: 25px;
    font-family: Khula, Arial;
    font-size: 60px;
    font-weight: 600;
}

.solid-line1{
    border: none;
    border-top: 1px solid black;
    flex-grow: 1;
    margin-left: 30px;
    margin-top: 75px;
    flex: 0.95;
}

.solid-line2{
    display: none;

    border: none;
    border-top: 1px solid black;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-right: 25px;
}

.flex-for-genre-container{
    /* background-color: black; */

    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.genre-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 12%;
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
}

.left-container{
    margin-left: 17%;
}
.right-container{
    margin-right: 17%;
}

.left-container:hover .left-image,
.right-container:hover .right-image{
    opacity: 87%;
    box-shadow: -25px -25px 0px #106C89;

}

.left-text,
.right-text{
    font-size: 27px;
    font-weight: 600;
    color: black;
}

.left-image,
.right-image{
    width: 80%;
    box-shadow: -16px -15px 0px #106C89;

    transition: opacity .4s, box-shadow .3s;
}

.left-container,
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

@media (max-width: 1320px){
    .genre-container{
        padding-left: 0%;
        padding-right: 0%;
    }
}

@media (max-width: 1020px){
    .flex-for-genre-container{
        margin: 0;
        padding: 0;
        position: relative;
    }
    .genre-container{
        position: absolute;
        top: 15px;

        grid-template-columns: 1fr;
        column-gap: 0px;
        row-gap: 80px;
        padding: 0;
        padding-bottom: 3%;
    }
    .left-image,
    .right-image{
        width: 51%;
    }

    .left-container{
        margin-left: 0;
    }

    .right-container{
        margin-right: 0;
        padding-bottom: 7%;
    }
}

@media (max-width: 590px){

    .solid-line1{
        display: none;
    }

    .solid-line2{
        display: block;
    }

    .title-text{
        font-size: 42px !important;
        margin-left: 15px !important;
        /* white-space: nowrap; */
    }

    .left-text,
    .right-text{
        font-size: 20px;
    }
    .left-image,
    .right-image{
        width: 70%;
    }
}

@media(max-width:445px){
    .left-image,
    .right-image{
        width: 74%;
    }

    .left-text,
    .right-text{
        font-size: 18px;
        letter-spacing: 0px;
    }
}