.portfolio,
.small-portfolio{
    font-family: Rubik Glitch Pop;
    color: black;
}
.portfolio{
    margin-left: -10px;
}
.small-portfolio{
    margin-right: -4px;
}

.solid-line1{
    border: none;
    border-top: 1px solid black;
    flex-grow: 1;
    margin-left: 30px;
    margin-top: 75px;
    flex: 0.95;
}

.solid-line2{
    display: none;

    border: none;
    border-top: 1px solid black;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-right: 25px;
}

.photo-gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
    gap: 10px;

}

.grid-item img {
    width: 100%;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.img5-up,
.img7-up,
.img70-up{
    margin-top: -83.5%;
}

.grid-item.wide{
    grid-column: span 2;
}

/*the below section is specific to images (probably cannot be applied as generically)*/
.img9-up,
.img12-up,
.img16-up{
    margin-top: -117.5%;
}
.img10-up,
.img23-up,
.img27-up,
.img31-up,
.img35-up,
.img39-up,
.img43-up{
    margin-top: -16.7%;
}
.img13-up,
.img14-up,
.img18-up{
    margin-top: -49.6%;
}
.img15-up,
.img19-up{
    margin-top: -.2%;
}
.img17-up{
    margin-top: -133%;
}
.img20-up{
    margin-top: -102%;
}
.img21-up,
.img46-up{
    margin-top: -67.3%;
}
.img24-up{
    margin-top: -119%;
}
.img25-up{
    margin-top: -151%;
}
.img28-up,
.img32-up,
.img36-up{
    margin-top: -202%;
}
.img29-up,
.img33-up,
.img37-up{
    margin-top: -168%;
}
.img40-up{
    margin-top: -285%;
}
.img41-up{
    margin-top: -251%;
}
.img44-up{
    margin-top: -268%;
}
.img45-up{
    margin-top: -234%;
}
.img48-up{
    margin-top: -193%;
}
.img49-up{
    margin-top: -158.5%;
}
.img50-up{
    margin-top: -8.5%;
}
.img52-up{
    margin-top: -209%;
}
.img53-up,
.img57-up,
.img61-up{
    margin-top: -174%;
}
.img54-up,
.img58-up,
.img62-up,
.img66-up{
    margin-top: -83%;
}
.img56-up{
    margin-top: -292%;
}
.img60-up,
.img64-up{
    margin-top: -308%;
}
.img65-up,
.img69-up{
    margin-top: -256.2%;
}
.img68-up{
    margin-top: -357%;
}

/*lightbox styles below*/
.lightbox{
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.97);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    /* display: none; */
    /* animation: fadeIn 0.2s ease-in; */

    /* transition: opacity .15s; */

    opacity: 0;
    transition: opacity 0.2s;
    visibility: hidden;
}

.lightbox.show{
    opacity: 1;
    visibility: visible;
}

.lightbox.hide{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s 0.2s;
}

.lightbox img{
    max-width: 95%;
    max-height: 95%;
}

.close-button,
.prev-button,
.next-button{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.close-button{
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 23px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    font-family: Inter;
}

.close-button:hover{
    text-decoration: underline;
}

.prev-button,
.next-button{
    position: absolute;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
}

.prev-button{
    left: 5%;
}

.next-button{
    right: 5%;
}

.prev-button:hover,
.next-button:hover{
    text-decoration: underline;
}


/*media queries below*/
@media (max-width: 1620px){
    .grid-item img{
        margin-top: 0;
    }

    .photo-gallery-grid{
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 60px;
        padding-right: 60px;
    }

    .grid-item .img4-up,
    .grid-item .img6-up,
    .grid-item .img9-up,
    .grid-item .img12-up{
        margin-top: -83.6% ;
    }
    .grid-item .img11-up,
    .grid-item .img21-up{
        margin-top: -50.2%;
    }
    .grid-item.wide{
        grid-column: span 1;
    }
    .grid-item .img13-up,
    .grid-item .img15-up,
    .grid-item .img18-up{
        margin-top: -33%;
    }
    .grid-item .img16-up{
        margin-top: -116%;
    }
    .grid-item .img19-up{
        margin-top: -166%;
    }
    .grid-item .img22-up,
    .grid-item .img25-up{
        margin-top: -232%;
    }
    .grid-item .img24-up{
        margin-top: -117%;
    }
    .grid-item .img27-up,
    .grid-item .img30-up,
    .grid-item .img33-up,
    .grid-item .img36-up{
        margin-top: -200%;
    }
    .grid-item .img28-up,
    .grid-item .img31-up,
    .grid-item .img34-up,
    .grid-item .img37-up{
        margin-top: -248%;
    }
    .grid-item .img39-up,
    .grid-item .img42-up{
        margin-top: -283.5%;
    }
    .grid-item .img40-up,
    .grid-item .img43-up,
    .grid-item .img46-up{
        margin-top: -331%;
    }
    .grid-item .img45-up,
    .grid-item .img48-up{
        margin-top: -367%;
    }
    .grid-item .img49-up{
        margin-top: -272%;
    }
    .grid-item .img51-up{
        margin-top: -308.1%;
    }
    .grid-item .img52-up{
        margin-top: -213.5%;
    }
    .grid-item .img54-up,
    .grid-item .img57-up{
        margin-top: -233%;
    }
    .grid-item .img55-up{
        margin-top: -296%;
    }
    .grid-item .img58-up,
    .grid-item .img61-up{
        margin-top: -279%;
    }
    .grid-item .img60-up,
    .grid-item .img63-up{
        margin-top: -216%;
    }
    .grid-item .img64-up{
        margin-top: -362%;
    }
    .grid-item .img66-up,
    .grid-item .img69-up{
        margin-top: -368%;
    }
    .grid-item .img67-up{
        margin-top: -412%;
    }
    .grid-item .img68-up{
        margin-top: -259%;
        margin-left: -102%;
    }
    .grid-item .img70-up{
        margin-top: -109%;
    }
}

@media (max-width: 1275px) {
    .grid-item img {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
    .photo-gallery-grid{
        grid-template-columns: 1fr 1fr;
        padding-left: 50px;
        padding-right: 50px;
    }
    .photo-gallery-grid .grid-item .img63-up
    {
        margin-top: -28% !important;
    }
    .photo-gallery-grid .grid-item .img66-up,
    .photo-gallery-grid .grid-item .img68-up
    {
        margin-top: -22% !important;
    }
    .photo-gallery-grid .grid-item .img11-up,
    .photo-gallery-grid .grid-item .img13-up
    {
        margin-top: -32.5% !important;
    }
    .photo-gallery-grid .grid-item .img54-up,
    .photo-gallery-grid .grid-item .img56-up
    {
        margin-top: -40% !important;
    }
    .photo-gallery-grid .grid-item .img51-up
    {
        margin-top: -43% !important;
    }
    .photo-gallery-grid .grid-item .img19-up
    {
        margin-top: -49% !important;
    }
    
    .photo-gallery-grid .grid-item .img58-up,
    .photo-gallery-grid .grid-item .img60-up,
    .photo-gallery-grid .grid-item .img62-up
    {
        margin-top: -56.1% !important;
    }
    .photo-gallery-grid .grid-item .img17-up{
        margin-top: -66% !important;
    }
    .photo-gallery-grid .grid-item .img47-up{
        margin-top: -81% !important;
    }
  
    .photo-gallery-grid .grid-item .img3-up{
        margin-top: -83% !important;
    }

    .photo-gallery-grid .grid-item .img37-up,
    .photo-gallery-grid .grid-item .img43-up,
    .photo-gallery-grid .grid-item .img45-up{
        margin-top: -98% !important;
    }
    .photo-gallery-grid .grid-item .img9-up,
    .photo-gallery-grid .grid-item .img15-up{
        margin-top: -116% !important;
    }
    .photo-gallery-grid .grid-item .img21-up{
        margin-top: -116% !important;
    }
    .photo-gallery-grid .grid-item .img49-up{
        margin-top: -139.1% !important;
    }
    .photo-gallery-grid .grid-item .img5-up,
    .photo-gallery-grid .grid-item .img7-up,
    .photo-gallery-grid .grid-item .img25-up{
        margin-top: -166% !important;
    }
  
    .photo-gallery-grid .grid-item .img27-up,
    .photo-gallery-grid .grid-item .img29-up,
    .photo-gallery-grid .grid-item .img31-up,
    .photo-gallery-grid .grid-item .img33-up,
    .photo-gallery-grid .grid-item .img35-up,
    .photo-gallery-grid .grid-item .img39-up,
    .photo-gallery-grid .grid-item .img41-up
    {
        margin-top: -182% !important;
    }
    .photo-gallery-grid .grid-item .img23-up{
        margin-top: -199% !important;
    }
    .photo-gallery-grid .grid-item .img70-up{
        margin-top: -22.5% !important;
    }
}

@media (max-width: 870px){
    .inner-body-container .photo-gallery-grid .grid-item img {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }

    .photo-gallery-grid{
        grid-template-columns: 1fr;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 590px){
    .solid-line1{
        display: none;
    }

    .solid-line2{
        display: block;
    }

    .title-text{
        font-size: 55px;
        margin-left: 15px;
        /* white-space: nowrap; */
    }
}

