/* adjustments that still need to be made:
   1. make the greeting title AND text content adpat/shrink depending on the screen size. CHECK!
   2. Add a gear list as well*/

.about-me{
    font-family: Rubik Glitch Pop;
    color: black;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-flex-container{
    display: flex;
    height: 100%;
    font-family: Khula;
}

.main-grid-container{
    /* border-style: solid;
    border-color: black;
    border-width: 4px; */

    margin-top: 120px;
    display: grid;
    grid-template-columns: 0.32fr 0.5fr;
    column-gap: 105px;
    margin-left: 17%;
}

.me-picture-container{
    /* background-color: blue; */
    /* border-style: solid;
    border-color: black;
    border-width: 4px; */

    padding: 0;
    margin: 0;
    margin-top: 35px;
}

.me-picture{
    width: 100%;
    box-shadow: -16px -15px 0px #106C89;
}

.me-picture-caption{
    font-size: 15px;
    text-align: center;
}

.right-side-container{
    /* width: 100%; */

    margin-top: -20px;
}

.greeting-title{
    /* background-color: blue; */
    /* width: 100%; */

    display: flex;
    flex-direction: row;
    align-items: center;
}

.greeting{
    /* background-color: blue; */
    /* flex-shrink: 1; */

    margin: 0;
    padding: 0;
    font-size: 68px;
    font-weight: 600;
}

.solid-line1{
    /* flex-shrink: 1; */

    border: none;
    border-top: 1px solid black;
    flex-grow: 1;
    margin-bottom: 20px;
    margin-left: 30px;
}

.solid-line2{
    display: none;
}

/* .text{
    border-style: solid;
    border-color: black;
    border-width: 1px; */
    /* background-color: blue; */
    /* width: 100%;
} */

.text p{
    /* width: 100%; */
    /* font-size: 120%; */


    font-weight: 300;
    font-size: 20px;
}

.links{
    color: rgb(96, 96, 190);
    text-decoration: none;
    font-weight: 500;
    transition: opacity .10s;
}

.links:hover{
    opacity: 50%;
}

@media (max-width: 1100px){
    .main-grid-container{
        grid-template-columns: 0.8fr;
        row-gap: 100px;
        margin-left: 13%;
    }
}

@media (max-width: 590px){
    .solid-line1{
        display: none;
    }

    .solid-line2{
        display: block;
        border: none;
        border-top: 1px solid black;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .greeting{
        white-space: nowrap;
    }
}